<mat-sidenav-container class="sidebar-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <ul>
        <li *ngFor="let section of sections" (click)="toggleSubMenu(section.path)">
          <mat-icon>{{ section.icon }}</mat-icon>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div *ngIf="activeMenu" class="submenu">
        <button *ngFor="let option of submenuOptions" mat-button (click)="navigate(activeMenu, option)">
          {{ option }}
        </button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  