.sidebar-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 60px;
    background-color: #222;
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 15px;
    text-align: center;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #444;
  }
  
  mat-icon {
    font-size: 24px;
    color: white;
  }
  
  .submenu {
    position: absolute;
    left: 60px;
    top: 0;
    background: #333;
    width: 150px;
    display: flex;
    flex-direction: column;
  }
  
  button {
    color: white;
    text-align: left;
    padding: 10px;
  }
  
  button:hover {
    background: #555;
  }
  